<h1><%= @post.title %></h1>


<%= image_tag(@post.picture_url, :width => 400, :height => 200 ) if @post.picture.present? %>

<p><%= @post.text %></p>
<%= link_to 'Back', posts_path  %> |
<%= link_to 'Edit Post', edit_post_path(@post)  %>
<div class="post_comment">

  <span class="comment"><%= link_to "#{@post.comments.size} comment"  %>

      </span>
</div>
<%= render @post.comments %>
<h1>Add Comment</h1>
<%= render 'comments/form' %>



