<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @post.text %>
</p>
<h3>Comments (<%= @post.comments.size %>)</h3>

<%= render @post.comments %>
<h2>Add Comment</h2>
<%= render 'comments/form' %>
<%= link_to 'back', posts_path  %>
<%= link_to 'edit', edit_post_path(@post)  %>
